<%- include('partials/header') -%>

<main class="container">
    <div class="row justify-content-around mt-5">
        <a href="/login" class="col-3 btn btn-primary"> Login</a>
        <a href="/signup" class="col-3 btn btn-primary"> Signup</a>
    </div>
    <div class="row">
        <div class="column">
          <img src="/imgs/challah.jpg">
          <img src="/imgs/bagel.jpg">
          <img src="/imgs/cookies.jpg">
          <img src="/imgs/rye.jpg">
          <img src="/imgs/challah.jpg">
          <img src="/imgs/bagel.jpg">
          <img src="/imgs/cookies.jpg">
        </div>
        <div class="column">
          <img src="/imgs/rye.jpg">
          <img src="/imgs/rye.jpg">
          <img src="/imgs/bread2.jpg">
          <img src="/imgs/challah.jpg">
          <img src="/imgs/bagel.jpg">
          <img src=/imgs/cookies.jpg">
        </div>
        <div class="column">
          <img src="/imgs/bread2.jpg">
          <img src="/imgs/bagel.jpg">
          <img src="/imgs/challah.jpg">
          <img src="/imgs/bread2.jpg">
          <img src="/imgs/cookies.jpg">
          <img src="/imgs/rye.jpg">
          <img src="/imgs/challah.jpg">
        </div>
        <div class="column">
          <img src="/imgs/bagel.jpg">
          <img src="/imgs/bagel.jpg">
          <img src="/imgs/challah.jpg">
          <img src="/imgs/cookies.jpg">
          <img src="/imgs/bread2.jpg">
          <img src="/imgs/rye.jpg">
        </div>
      </div>
</main>
    

<%- include('partials/footer') -%>